// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.jquery {
  position: relative;
  top:32px;
}

.technology-pad{
  padding: 20px;
}

.bg-techno {
  background-image: url('../img/PNGs/Melamine-wood-001.png');
}